node_modules
_sessions
.wwebjs_auth
base-baileys-json
base-baileys-mysql
base-wppconnect-json
base-wweb-json
aaa_sessions
demo01_sessions
demo02_sessions
tokens
tmp
1316-session_sessions
11-session_sessions
base-wweb-json
.env

config.js